<ion-card class="tile">
  <ion-card-header class="d-flex-center">
    <ion-card-title>
      <h1 style="font-weight: bolder">Disk</h1>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col class="d-flex-center">
          <ngx-gauge
              [thick]="15" [cap]="'round'"
              [type]="'arch'" [value]="disk.percentage"
              [label]="'Load'" [append]="'%'"></ngx-gauge>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col style="font-weight: bold">Total:</ion-col>
          <ion-col size="auto">{{ disk.total }} {{ disk.unit }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="font-weight: bold">Used:</ion-col>
          <ion-col size="auto">{{ disk.used }} {{ disk.unit }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="font-weight: bold">Free:</ion-col>
          <ion-col size="auto">{{ disk.free }} {{ disk.unit }}</ion-col>
        </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
