<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="gate">
      <ion-icon name="car-outline"></ion-icon>
      <ion-label>Gate</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="environment">
      <ion-icon name="thermometer-outline"></ion-icon>
      <ion-label>Environment</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="info">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>Info</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
