<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="warning-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Alarm</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/settings']">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Alarm</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col class="label-container">
        <ng-container *ngIf="ecuAlarm | async; else ecuOff">X
          <ion-label class="banner-label on">ON</ion-label>
        </ng-container>
        <ng-template #ecuOff>
          <ion-label class="banner-label off">OFF</ion-label>
        </ng-template>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="icon-button-container">
        <ion-button class="icon-button" [ngClass]="[ (ecuAlarm | async) ? 'on' : 'off']"
                    (click)="toggleAlarmEcu()">
          <ion-icon name="power"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
