<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ng-container *ngIf="(systemStatus | async) as status">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Home State</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label>Alarm: {{ status.alarm }}</ion-label>
          <ion-label>Ecu: {{ status.ecu }}</ion-label>
          <ion-label>Gate: {{ status.gate }}</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>System Information</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label>
            <h1>Cpu info</h1>
            <p>Percentage: {{ status.systemInfo.cpu.percentage }}</p>
            <p>Temperature: {{ status.systemInfo.cpu.temperature }} {{ status.systemInfo.cpu.unit }}</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h1>Memory</h1>
            <p>Percentage: {{ status.systemInfo.memory.percentage }}</p>
            <p>Total: {{ status.systemInfo.memory.total }} {{ status.systemInfo.memory.unit }}</p>
            <p>Available: {{ status.systemInfo.memory.available }} {{ status.systemInfo.memory.unit }}</p>
            <p>Used: {{ status.systemInfo.memory.used }} {{ status.systemInfo.memory.unit }}</p>
            <p>Free: {{ status.systemInfo.memory.free }} {{ status.systemInfo.memory.unit }}</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h1>Disk</h1>
            <p>Percentage: {{ status.systemInfo.disk.percentage }}</p>
            <p>Total: {{ status.systemInfo.disk.total }} {{ status.systemInfo.disk.unit }}</p>
            <p>Used: {{ status.systemInfo.disk.used }} {{ status.systemInfo.disk.unit }}</p>
            <p>Free: {{ status.systemInfo.disk.free }} {{ status.systemInfo.disk.unit }}</p>
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>
