<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Connection status</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label *ngIf="(isConnected | async); else notConnected">
          <h1>Connected</h1>
        </ion-label>
        <ng-template #notConnected>
          <ion-label>
            <h1>Not Connected</h1>
          </ion-label>
        </ng-template>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ng-container *ngIf="(systemStatus | async) as status; else noStatus">
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label>
            <h1>Home status</h1>
            <p>Alarm: {{ status.getAlarm() }} - Ecu: {{ status.getEcu() }} - Gate: {{ status.getGate() }}</p>
          </ion-label>
        </ion-item>
        <app-cpu [cpu]="status.getSystemInformation().cpu"></app-cpu>
        <app-memory [memory]="status.getSystemInformation().memory"></app-memory>
        <app-disk [disk]="status.getSystemInformation().disk"></app-disk>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ng-template #noStatus>
    <ion-card>
      <ion-card-header>
        <ion-card-title>No status found yet!</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ng-template>
</ion-content>
