<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Connection status</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label *ngIf="(isConnected | async); else notConnected">
          <h1>Connected</h1>
        </ion-label>
        <ng-template #notConnected>
          <ion-label>
            <h1>Not Connected</h1>
          </ion-label>
        </ng-template>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ng-container *ngIf="(systemStatus | async) as status; else noStatus">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Information</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label>
            <h1>Home status</h1>
            <p>Alarm: {{ status.getAlarm() }}</p>
            <p>Ecu: {{ status.getEcu() }}</p>
            <p>Gate: {{ status.getGate() }}</p>
          </ion-label>
        </ion-item>
        <app-cpu [cpu]="status.getSystemInformation().cpu"></app-cpu>
        <ion-item>
          <ion-label>
            <h1>Memory</h1>
            <p>Percentage: {{ status.getSystemInformation().memory.percentage }}</p>
            <p>Total: {{ status.getSystemInformation().memory.total }} {{ status.getSystemInformation().memory.unit }}</p>
            <p>Available: {{ status.getSystemInformation().memory.available }} {{ status.getSystemInformation().memory.unit }}</p>
            <p>Used: {{ status.getSystemInformation().memory.used }} {{ status.getSystemInformation().memory.unit }}</p>
            <p>Free: {{ status.getSystemInformation().memory.free }} {{ status.getSystemInformation().memory.unit }}</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h1>Disk</h1>
            <p>Percentage: {{ status.getSystemInformation().disk.percentage }}</p>
            <p>Total: {{ status.getSystemInformation().disk.total }} {{ status.getSystemInformation().disk.unit }}</p>
            <p>Used: {{ status.getSystemInformation().disk.used }} {{ status.getSystemInformation().disk.unit }}</p>
            <p>Free: {{ status.getSystemInformation().disk.free }} {{ status.getSystemInformation().disk.unit }}</p>
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ng-template #noStatus>
    <ion-card>
      <ion-card-header>
        <ion-card-title>No status found yet!</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ng-template>
</ion-content>
