/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.d-flex {
  display: flex;
}

.height-100 {
  height: calc(100% - 30px);
}

.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-button {
  --background: linear-gradient(45deg, #3d3d3d, #1e1e1e);
  --border-radius: 30px;
  --box-shadow: 0 4px 6px rgba(19, 19, 19, 0.1);
  --padding-bottom: 30px;
  --padding-top: 30px;
  --padding-end: 30px;
  --padding-start: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
  width: min(250px, 60vw);
  height: min(200px, 50vw);
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.icon-button.small {
  width: min(200px, 50vw);
  height: min(150px, 40vw);
}

.font-big {
  font-size: 6rem;
}
.font-extra-big {
  font-size: 7rem;
}
.font-small {
  font-size: 4rem;
}
.font-extra-small {
  font-size: 3rem;
}

.dark  {
    color: black;
}

.icon-button.on {
  --background: radial-gradient(#fd7251, #c20000);
  --box-shadow: 0 4px 6px rgba(122, 0, 21, 0.5);
}

.icon-button.off {
  --background: radial-gradient(#63ff2f, #00ad0a);
  --box-shadow: 0 4px 6px rgba(30, 107, 0, 0.5);
}

.icon-button.close {
  --background: radial-gradient(#fd7251, #c20000);
  --box-shadow: 0 4px 6px rgba(122, 0, 21, 0.5);
}

.icon-button.open {
  --background: radial-gradient(#63ff2f, #00ad0a);
  --box-shadow: 0 4px 6px rgba(30, 107, 0, 0.5);
}

.icon-button.active {
  --background: linear-gradient(45deg, #45aaf2, #2f80ed);
  --box-shadow: 0 4px 6px rgb(0, 44, 82, 0.5);
}

.icon-button.deactive {
  --background: linear-gradient(45deg, #ce76ff, #ad2dfc);
  --box-shadow: 0 4px 6px rgb(82, 34, 0, 0.5);
}

ion-card.tile {

}
