<ion-grid class="ion-padding">
  <ion-row>
    <ion-col>
      <ion-label>
        <h1>Cpu</h1>
      </ion-label>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="cpu">
    <ion-col class="d-flex-center">
      <ngx-gauge
        [thick]="15" [cap]="'round'"
        [type]="'arch'" [value]="cpu.percentage"
        [label]="'Load'" [append]="'%'"></ngx-gauge>
    </ion-col>
    <ion-col class="d-flex-center">
      <ngx-gauge
        [thick]="15" [cap]="'round'"
        [type]="'arch'" [value]="cpu.temperature"
        [min]="cpu.minTemp" [max]="cpu.maxTemp"
        [label]="'Temp.'" [append]="cpu.unit"></ngx-gauge>
    </ion-col>
  </ion-row>
</ion-grid>
