<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="warning-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Alarm</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onReconnect()">
        <ion-icon slot="icon-only" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Alarm</ion-title>
    </ion-toolbar>
  </ion-header>
  <app-connection-state></app-connection-state>
  <ion-grid class="height-100 ion-padding d-flex-center">
    <ion-row>
      <ion-col>
        <ng-container *ngIf="isStatusAvailable | async; else off">
          <ion-button class="icon-button" [ngClass]="[ (ecuAlarm | async) ? 'on' : 'off' ]"
                      (click)="toggleHomeAway()">
            <ion-icon *ngIf="ecuAlarm | async; else lockOpen"
                      name="key"></ion-icon>
            <ng-template #lockOpen>
              <ion-icon name="home"></ion-icon>
            </ng-template>
          </ion-button>
        </ng-container>
        <ng-template #off>
          <ion-button class="icon-button">N/A</ion-button>
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
