<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#" (click)="onClickBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ title }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">
        <h1>Server ip</h1>
      </ion-label>
      <ion-input placeholder="192.168.0.100"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">
        <h1>Server port</h1>
      </ion-label>
      <ion-input placeholder="8080"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">
        <h1>Server ip</h1>
      </ion-label>
      <ion-input placeholder="Connection timeout"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
